
body {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    background-color: teal;
    color: #f5fefd;
    height: 100%;
    width: 700px;
    border: 1px solid teal 
}

.titles {
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    text-align: center;
}

.subtitles {
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    margin-left: 10px;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img  {
    width: 100px;
    border: 2px solid red;
    border-radius: 50%;
}

.dados{
    margin-left: 11px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

p {
    margin-top: -10px;
}


.em {
    font-weight: bold;
    font-size: 16px;
}

.area {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin-left: -25px;
    font-family: "Lato", sans-serif;
}

p.big {
    margin-right: 20px;
}

@media(max-width: 500px) {
    
    .container {
        width: 100%;
        border: 1px solid teal;
        color: #f5fefd;
        background-color: teal;
    }

    .big {
        padding-bottom: 15px;
    }

}

